.profile-image-wrapper {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #ccc;
}

.profile-image-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}



.profile-image-input input[type="file"] {
    display: none; /* Hide the actual file input */
}


.profile-image-input label {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 14px;
}
